*{
    margin: 0;
    padding: 0;
}

.xs{
  position: absolute;
  top: 65px;
  right: 270px;
  width: 100px;
  height: 210px !important;
  background:rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 38px;
  display: none;
}
.xs>div{ color: #fff;
  /* border: 1px solid red; */
  height: 38px !important;
  margin-top: 2px;
  border-radius: 4px;
  background:rgba(0, 0, 0, 0.5);
}
.xs>div:hover{
  background-color: #1364BA;
}

.head-title {
    line-height: 70px;
    /* background-color: #42433f; */
  background: #353535;
  }
  .head-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .head-nav .left {
    flex: 1;
    margin-top: 10px;
  }
  .head-nav div {
    height: 55px;
  }
  .head-title .right {
    display: flex;
    color: #fff;
    width: 880px;
    cursor: pointer;
    justify-content: space-around;
  }
   .right > div:hover {
    border-bottom: 4px solid #49c5f6;
    text-align: center;
  }

/* center */
.centerus{
    width: 100%;
    background-color: #F6FEFC;
}
.centerus .uspg{
    width: 80%;
    margin: 20px auto;
    display: flex;
}
.uspg1{
    width: 620px;
    background-color: #F2F2F2;
}
.ln{
    line-height: 25px;
    color: #ababab;
    font-size: 12px;
}

/* 底部 */

.footer {
    width: 100%;
    height: 225px;
    background-color: #1b222e;
  }
  .footerinfo {
    display: flex;
    width: 80%;
    margin: 10px auto;
  }
  .left {
    color: gray;
    font-size: 12px;
  }
  .right1 {
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .font {
    margin-top: 10px;
    color: gray;
    font-size: 12px;
  }
  .ewm {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    background-color: #fff;
  }
  .last {
    width: 80%;
    margin: 0 auto;
  }
  .last-info {
    border-top: 1px solid gray;
  }
  .clik{
    cursor: pointer;
}
.right a{
  color: #fff;
  text-decoration: none;
}